/*
  -webkit-:
  -moz-:
  -ms-:
  -o-:
  :
 */
@mixin anim($time, $delay) {
  -webkit-transition: all $time ease $delay;  -moz-transition:  all $time ease $delay;  -ms-transition:  all $time ease $delay;  -o-transition:  all $time ease $delay;  transition:  all $time ease $delay;}

@mixin anim_cubic($time, $delay){
  -webkit-transition: all $time cubic-bezier(0.68, -0.55,0.265, 1.55) $delay; -moz-transition: all $time cubic-bezier(0.68, -0.55,0.265, 1.55) $delay;  -ms-transition: all $time cubic-bezier(0.68, -0.55,0.265, 1.55) $delay;  -o-transition: all $time cubic-bezier(0.68, -0.55,0.265, 1.55) $delay;  transition: all $time cubic-bezier(0.68, -0.55,0.265, 1.55) $delay;}

@mixin animate($name, $time, $infinite, $type){
  -webkit-animation: $name $time+s $infinite $type; -moz-animation: $name $time+s $infinite $type; -ms-animation: $name $time+s $infinite $type; -o-animation: $name $time+s $infinite $type;animation:  $name $time+s $infinite $type;}

@mixin animate_icon($name, $time, $infinite){
  -webkit-animation: $name $time $infinite; -moz-animation: $name $time $infinite; -ms-animation: $name $time $infinite; -o-animation: $name $time   $infinite; animation:  $name $time $infinite;}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg); -moz-transform: rotate($deg); -ms-transform: rotate($deg); o-transform:  rotate($deg);  transform:rotate($deg);}

@mixin transform_translate($x, $y){
  transform: translate($x, $y); -ms-transform:translate($x, $y); -webkit-transform: translate($x, $y);-o-transform:translate($x, $y); -moz-transform:translate($x, $y);
}
@mixin scale($num){
  -moz-transform: scale($num); -ms-transform: scale($num); -webkit-transform: scale($num); o-transform:  scale($num); transform:  scale($num); }

@mixin skewY($num){
  -moz-transform: skewY($num); -ms-transform: skewY($num); -webkit-transform: skewY($num); o-transform:  skewY($num); transform:  skewY($num); }


@mixin cnt($h){
  display: flex;   flex-direction: column;  height:$h;  text-align: center;  align-items: stretch;  justify-content: center;}

@mixin flexbox(){
  display:-webkit-box;  display: -moz-box;  display: -ms-flexbox;  display:-webkit-flex;  display:flex; }

@mixin flexboxinline(){
  displa: inline-flex;  display:-webkit-inline-flex;  display: -moz-inline-flex;  display: -ms-inline-flex;  display: -o-inline-flex;}

@mixin flexorder($val){
  -webkit-box-ordinal-group:$val;
  -moz-box-ordinal-group:$val;
  -ms-box-ordinal-group:$val;
  -webkit-order:$val;
  order:$val;}

@mixin tr($x,$y,$z) {
  transform: translate3d($x,$y,$z);  -webkit-transform:translate3d($x,$y, $z);  -ms-transform: translate3d($x,$y,$z);  -o-transform: translate3d($x,$y,$z);}
