@import "mixins";
$white:#ffffff;
$greyFon:#f4f5f7;
$greyFonMidl:#f1f2f4;
$greyFonLight:#f8f8fa;

$greyFon:#edeef0;
$grey:#9b9a9a;
$greyLight:#f8f8fa;
$greyMidl:#3d3d3d;
$greyDark:#262626;
$green:#5fb709;

$maxWidth1:1630px;
$maxWidth2:1330px;
$maxWidth3:1030px;
$maxWidth4:700px;
$maxWidth5:500px;
$maxWidth6:340px;

*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  font-size: 18px;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  line-height: 40px;
  color:#a2a2a2;
  background-color: $white;
}
a, a:hover, a:focus, a:active,a:visited,a:focus-visible,a:focus-within,
.btn, .btn:hover, .btn:focus, .btn:active,.btn:visited,.btn:focus-visible,.btn:focus-within,
button, button:hover, button:focus, button:active,button:visited,button:focus-visible,button:focus-within{
  outline: none;
  border: none;

}
a:hover{
  background-color: red;
}
.page{
  @include flexbox();
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.title{
  color:#000000;
  font-size: 46px;
  line-height: 1.6;
  letter-spacing: 0;
  @media(max-width: $maxWidth1){font-size: 35px;}
  @media(max-width: $maxWidth3){font-size: 30px;}
  @media(max-width: $maxWidth4){font-size: 25px;}
  @media(max-width: $maxWidth5){font-size: 18px;}

}
em{
  color:$green;
  font-style: normal;
}
.section-image{
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  width: 100%;
}
img {
  width: 100%;
  min-height: 1px;
  height: auto;
}
.show-wave{
  height: auto;
  width: 110px;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  @media(max-width: $maxWidth2){width: 70px;}
  @media(max-width: $maxWidth4){width: 60px;}
  @media(max-width: $maxWidth5){display: none;}
  @media (min-width: 1921px){width: 3%;}
  & .icon-wave{
    width:500%;
    height: 35px;
    z-index: 20;
    background-image: url("../img/icon-wave.png");
    background-repeat: repeat-x;
    background-size: 38%;
    @include animate_icon(move-wave, 20s, infinite);
    @media (min-width: 1921px){height: 65px;}
  }
}
@keyframes move-wave {
  0% {
    @include transform_translate(-80%,0);
  }
  50% {
    @include transform_translate(0%,0);
  }
  100% {
    @include transform_translate(-80%,0);
  }
}


.section{
  position: relative;
  padding: 47px 0px 160px 0px;
  @media(max-width: $maxWidth3){padding: 47px 0px 50px 0px;}
  &-grey{
    background-color:$greyFon;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 300px;
      background: $greyFon;
      @include skewY(-8.4deg);
      top: -143px;
      @media(min-width: 1921px){ @include skewY(-5.4deg);}
      @media(max-width: $maxWidth3){height: 200px; top:-90px;}
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 300px;
      background: $white;
      @include skewY(-8.4deg);
      bottom: -158px;
      @media(min-width: 1921px){@include skewY(-5.4deg);}
      @media(max-width: $maxWidth3){height: 200px;bottom: -148px;}
    }

    &.grey-light{
      background-color:$greyFonLight;
      &:before {
        background: $greyFonLight;
      }
    }
    &.grey-midl{
      background-color:$greyFonMidl;
      &:before {
        background: $greyFonMidl;
      }
    }

  }
}
input {
  font-size: 15px;
  line-height: 2;
  border: 1px solid $grey;
  border-radius: 10px;
  min-width: 68%;
  margin-right: 0px;
  padding: 17px 10px 19px 34px;
  &:focus{
    border: 1px solid $green;
    outline: none;
  }
}
.input-group{
  position: relative;
  @include flexbox();
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  padding-top: 39px;
  @media (max-width:$maxWidth3){padding-top: 20px;}
  @media (max-width:$maxWidth4){
    padding-top: 20px;
    flex-wrap: wrap;
  }
  & input{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin: 0;
    font-size: 16px;
    line-height: 2;
    border: 1px solid #9b9a9a;
    border-radius: 10px;
    min-width: 68%;
    padding: 22px 10px 15px 35px;
    @media (max-width:$maxWidth2) { padding: 10px 10px 10px 20px;}
    @media(max-width: $maxWidth3) { padding: 7px 12px 7px 12px;}
    @media(max-width: $maxWidth4) { margin: 0px 0px 15px 0px; width: 90%;}
    &:focus{
      border: 1px solid $green;
      outline: none;
    }
  }
  & .btn-green{
    cursor: pointer;
    white-space: nowrap;
    font-size: 22px;
    border-radius: 10px;
    display: inline-block;
    margin: 1px 23px 1px 8px;
    padding: 12px 50px 9px 51px;
    text-decoration: none;
    line-height: 2;
    @media (max-width:$maxWidth2) {
      font-size: 18px;
      padding: 12px 18px 9px 18px;
    }
    @media (max-width:$maxWidth3){
      font-size: 16px;
      padding: 7px 15px 6px 15px;
    }
    @media (max-width:$maxWidth4){margin: 1px 23px 1px 0px;}
  }
}

.decor-image{
  position: absolute;
  z-index: 1;
  & img{
    width: 100%;
  }
}
.anim-item{
  opacity: 0;
  @include anim(0.7s,0s);

  &.show-left{ @include transform_translate(-30%, 0%);}
  &.show-right{@include transform_translate(30%, 0%);}
  &.show-bottom{@include transform_translate(0%, 30%);}
  &.active{
    @include transform_translate(0%, 0%);
    opacity: 1;
  }
}

.container{
  max-width: 1590px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: $maxWidth1){max-width: 1300px;}
  @media (max-width: $maxWidth2){max-width: 1000px;}
  @media (max-width: $maxWidth3){max-width: 100%;}
  @media (max-width: $maxWidth4){padding: 0px 30px;}
}
.row{
  @include flexbox();
  margin:0px;
}
.column{
  position: relative;
  z-index: 2;
  &-wide{
    flex: 0 0 50%;
  }
  &-narrow{
    flex: 0 0 40%;
  }
}

.btn-green {
  cursor: pointer;
  background-color: #6ece0f;
  color: $white;
  font-size: 22px;
  border-radius: 10px;
  display: inline-block;
  margin: 1px 0px;
  padding: 12px 50px 9px 51px;
  text-decoration: none;
  line-height: 2;
  white-space: nowrap;
  &:hover{
    background-color: $greyMidl;
    @include anim(0.3s,0s);
    @include transform_translate(0px,2px);
  }
  @media (max-width:$maxWidth2){
    font-size: 18px;
    padding: 12px 25px 9px 25px;
  }
}
.btn-small{
  font-size: 18px;
  padding: 5px 25px;
}
.text-right{
  text-align: right;
}
.level-1{
  padding: 47px 0px 160px 0px;
  @media(max-width: $maxWidth3){ padding: 47px 0px 100px 0px; }
  & .row{
    flex-direction: column;
  }
  & .text{
    padding: 132px 0px 100px 0px;
    @media(max-width: $maxWidth3){ padding: 0px 0px 100px 0px; }
    @media(max-width: $maxWidth4){ padding: 0px 0px 10px 0px; }
    & .title{
      width: 27%;
      color:#000000;
      line-height: 1.65;
      letter-spacing: 0;
      @media(max-width: $maxWidth2){ width: 33%;}
      @media(max-width: $maxWidth3){width: 40%;}
      @media(max-width: $maxWidth4){width: 70%; padding: 22% 0 0 0;}
      @media(max-width: $maxWidth5){width: 100%; padding: 22% 0 0 0;}
    }
    & p{
      font-size: 21px;
      padding: 10px 0px 20px 0px;
      @media(max-width: $maxWidth3){ font-size: 18px; }
      @media(max-width: $maxWidth4){font-size: 16px; }
      @media(max-width: $maxWidth4){font-size: 14px;line-height: 25px;}
    }
    & .btn {
      margin: 18px 0px;
      font-size: 24px;
      border-radius: 10px;
      padding: 10px 25px 7px 31px;
      line-height: 2;
      @media(max-width: $maxWidth3){
        font-size: 20px;
        margin: 10px 0px;
        padding: 7px 10px 4px 15px;
      }
      @media(max-width: $maxWidth4){
        font-size: 18px;
        margin: 0px;
        padding: 7px 10px 4px 15px;
      }
    }
  }
  & .decor-image{
    &.im1{
      width: 15%;
      bottom: 4%;
      left: 33.5%;
      transition: all 0.7s ease-in 0.2s;
      & img{ max-width: 220px;}
      @media(max-width: $maxWidth4){ bottom: -6%; left: 80%;}
    }
    &.im2{
      width: 59%;
      top: 0;
      right:0;
      z-index: 1;
      height: auto;
      & img{max-width: 1132px;}
    }
  }

}
.level-2{
  padding: 47px 0px 189px 0px;
  @media(max-width: $maxWidth3){padding: 47px 0px 100px 0px;}
  @media(max-width: $maxWidth3){padding: 20px 0px 150px 0px;}
  & .row{
    flex-direction: row;
    justify-content: flex-start;
    @media(max-width: $maxWidth4){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  & .column{
    &-narrow {
      text-align: center;
      @media(max-width: $maxWidth4){
        max-width: 50%;
      }
    }
    &-wide{
      padding-left: 19px;
      @media(max-width: $maxWidth3){flex:0 0 60%;}
      @media(max-width: $maxWidth4){padding-left: 0px;}
    }
  }
  & .text{
    text-align: left;
    padding: 80px 0px 22px 52px;
    @media(max-width: $maxWidth3){padding: 45px 0px 10px 10px;}
    @media(max-width: $maxWidth4){padding: 45px 0px 10px 0px;}
    & .subscribe_btn{
      padding: 34px 0px;
    }
  }
  &-image{
    margin: 0px 0px 0px -10px;
    & img{max-width: 504px;}
  }
  & .decor-image{
    top: -9.5%;
    right: 7.1%;
    width: 23%;
    & img{max-width: 182px;}
  }
}
.level-3{
  padding: 28px 0px 250px 0px;
    @media(max-width: $maxWidth3){padding: 50px 0px 100px 0px;}
 // @media(max-width: $maxWidth4){padding: 50px 0px 100px 0px;}
  & .row{
    align-items: center;
      @media(max-width: $maxWidth4){
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  }
  & .column.column-image{
    @media(max-width: $maxWidth4){
      text-align: center;
    }
  }
  & .text {
    padding: 0px 80px 124px 0px;
    @media (max-width:$maxWidth2){
      padding: 0px 10px 100px 0px;
    }
    @media(max-width: $maxWidth5){ padding: 0px 10px 50px 0px;  }
  }
  & .btn {
    margin-top: 36px;
  }
  &-image{
    //width: 73%;
    padding-left: 27px;
    margin: -46px 0px 0px 0px;
    & img{max-width: 543px;}
    @media(max-width: $maxWidth4){
      padding-left: 0;
      margin: 0;
    }
  }
  & .show-wave{
    top: -42.5%;
    left: 21%;
    @media(max-width: $maxWidth3){top: -19.5%;}
  }
  & .decor-image{
    &.im1{
      width: 19%;
      right: 1.9%;
      top: -4.5%;
      & img{max-width: 360px;}
      @media(max-width: $maxWidth1){right: -5.9%;}
      @media(max-width: $maxWidth2){top: -14%;}
      @media(max-width: $maxWidth4){ top: -5%; right: -2%;}
    }
    &.im2{
      width:29%;
      left: 0;
      bottom: 9.8%;
      & img{max-width: 557px;}
    }
  }

}

.level-4{
  @media(max-width: $maxWidth4){
    padding: 47px 0px 85px 0px;
    .row{
      justify-content:center;
    }
  }
  @media(max-width: $maxWidth5){ padding: 68px 0px 68px 0px;}
    & .column{
    padding: 163px 150px 312px 14px;
    margin-left: 44%;
    @media(max-width: $maxWidth2){  padding: 100px 10px 150px 0px;}
    @media(max-width: $maxWidth3){  padding: 50px 10px 150px 0px;margin-left: 34%;}
    @media(max-width: $maxWidth4){  margin-left:0; padding: 0px 0px 200px 0px; flex: 0 0 90%;}
  }
  .show-wave {
    left: 45.6%;
    top: 60%;
  }
  & .decor-image {
    &.im1{
      top: -16%;
      left: 61.5%;
      width: 12%;
      & img{max-width: 227px; min-width: 60px;}
      @media(max-width: $maxWidth4){top:-7%;}
    }
    &.im2{
      width: 35%;
      top: -4%;
      left: 0;
      @media(max-width: $maxWidth3){top:10%;}
      @media(max-width: $maxWidth4){top: 35%;}
      & img{max-width: 672px; min-width: 170px;}
    }
    &.im3{
      right: 0;
      top: 22%;
      width: 10%;
      & img{max-width: 192px; min-width:80px;}
      @media(max-width: $maxWidth4){right:29px;}
      @media(max-width: $maxWidth5){top: 36%;}
    }
  }
}

.level-5{
  padding: 59px 0px 232px 0px;
  @media(max-width: $maxWidth3){padding: 50px 0px 100px 0px;}
  @media(max-width: $maxWidth4){padding: 0px 0px 50px 0px;}
  & .row{
    align-items: center;
    justify-content: space-between;
    @media(max-width: $maxWidth4){
      flex-direction: column;
      align-content: center;
    }
  }
  @media(max-width: $maxWidth4){
    .column-image{
      text-align: center;
      padding-bottom: 50px;
    }
  }
  & .text {
    padding: 0px 135px 260px 0px;
    @media(max-width: $maxWidth2){  padding: 0px 80px 260px 0px;}
    @media(max-width: $maxWidth3){  padding: 50px 0px 260px 0px;}
    @media(max-width: $maxWidth4){  padding: 80px 0px 40px 0px;}

  }
  &-image{
    margin-top: -58px;
    margin-left: 27px;
    & img{  max-width: 543px;}
    @media(max-width: $maxWidth4){margin-top: 0px;}
  }
  & .decor-image{
    &.im1 {
      top: -3.7%;
      left: 34.3%;
      width: 16%;
      & img{ max-width: 296px; min-width: 100px;}
    }
    &.im2 {
      left: 16.5%;
      bottom: 29%;
      width: 11%;
      transition: all 0.5s ease 1.3s;
      & img{ max-width: 213px; min-width: 65px;}
      @media(max-width: $maxWidth4){ left: 3%; bottom: 16%;}
    }
    &.im3 {
      bottom: 21.4%;
      left: 29.6%;
      width: 11%;
      transition: all 0.5s ease 1s;
      & img{ max-width: 213px; min-width: 65px;}
      @media(max-width: $maxWidth4){     left: 24%; bottom: 12%;}
    }
    &.im4 {
      width: 100%;
      bottom: 27%;
      left: 0;
      transition: all 0.7s ease 0.7s;
      @media (min-width: 1921px){ bottom: 9%;}
      @media (max-width: $maxWidth4){
        width: 125%;
        bottom: 21%;
        left: -16%;
      }
    }
  }
}

.level-6{
  padding:61px 0px 214px 0px;
  @media(max-width: $maxWidth3){padding: 40px 0px 160px 0px;}
  @media(max-width: $maxWidth4){padding: 0px 0px 60px 0px;}
  & .row{
    justify-content: flex-start;
    align-items: center;
    @media (max-width: $maxWidth4){
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  & .column-narrow{
    flex: 0 0 45%;
    @media (max-width: $maxWidth4){ flex:0 0 70%; }
    @media (max-width: $maxWidth5){ flex:0 0 100%; }
  }

  &-text{
    margin-left: -3px;
  }
  & .group-it{
    margin: 0px 26% 86px 0px;
    @include flexbox();
    @media (max-width: $maxWidth1) {margin: 0px 9% 86px 0px;}
    @media (max-width: $maxWidth2) {margin: 0px 0 86px 0px;}
    @media (max-width: $maxWidth3) {margin: 0px 0 40px 0px;}
    &-image{
      flex:0  0 auto;
      width: 117px;
      height: 117px;
      @media(max-width: $maxWidth3){width: 60px; height: auto}
    }
    &-text{
      flex: 1 1 auto;
      color: #000000;
      font-size: 35px;
      line-height: 1.5;
      letter-spacing: 0;
      padding:8px 0px 0px 29px;
      @media(max-width: $maxWidth3){
        font-size: 26px;
        line-height: 1.2;
        padding: 0px 0px 0px 20px;
      }
      @media (max-width: $maxWidth5){font-size: 20px; padding: 5px 0px 0px 20px;}
    }
  }
  & .btn-line {
    padding-bottom: 225px;
    @media(max-width: $maxWidth3){padding-bottom:100px; }
    @media(max-width: $maxWidth4){padding-bottom:150px; }
    & a{
      display: inline-block;
      margin: 0px 12px 0px 0px;
      padding: 0px;
      line-height: 0;
      width: 44%;
      & img{max-width: 208px;}
      @media (max-width: $maxWidth6){width: 70%;}
    }
  }
  & .show-wave{
    top: 6%;
    left: 41%;
    @media (max-width: $maxWidth2){
      top: -1%;
      left: 38%;
    }
    @media (max-width: $maxWidth4){
      top: 47%;
      left: 5%;}
  }
  &-image img{
    max-width:698px;
  }
  & .decor-image {
   &.im1 {
      top: -12%;
      right: 7%;
      width: 13%;
     & img{max-width: 257px;}
    }
    &.im2 {
      right: 31.4%;
      bottom: 27.5%;
      width: 8%;
      @media (max-width: $maxWidth4){
        bottom: 13%;
      }
      & img{max-width: 159px; min-width: 64px;}
    }
    &.im3 {
      right: 0;
      bottom: 34%;
      width: 4%;
      min-width: 50px;
      & img{max-width: 84px;min-width: 50px;}

    }
  }
  &:after{
    background-color: $greyLight;
  }
}

.level-7{
  padding: 0px 0px 61px 0px;
  &::before {
    @include skewY(-7deg);
    @media(min-width: 1921px){@include skewY(-5.4deg);}
  }
  &:after{
    content: none;
  }
  & .container{
    max-width: 1109px;
    @media (max-width: $maxWidth2){max-width: 1000px;}
    @media (max-width: $maxWidth3){max-width: 100%;}
  }
  & .row{
    justify-content: space-between;
    @media (max-width: $maxWidth4){flex-wrap: wrap; }
  }
  & .column{
    flex: 0 0 43.7%;
    padding:19px 0px 10px 23px;
    @media (max-width: $maxWidth4){ flex: 0 0 100%;}
  }
  & .item{
    padding: 10px 0px 59px 0px;
    text-align: left;
    @include flexbox();
    flex-direction: column;
    height: 100%;

    &-image{
      height: 66px;
      margin: 0px 0px 15px 0px;
      padding: 0px;
      overflow: hidden;
      @include flexbox();
      justify-content: flex-start;
      align-items: center ;
      & img{
        width: auto;
        height: 100%;
      }
    }
    &-title{
      flex:1 1 auto;
      color: $green;
      font-size: 30px;
      line-height: 32px;
      margin: 3px 0px 24px 0px;
      letter-spacing: 1px;
      @media (max-width: $maxWidth4){
        font-size: 22px;
        line-height: 1.3;
      }
    }
    &-text{
      font-size: 17.6px;
      line-height: 36px;
      margin-bottom: 19px;
      flex:1 1 auto;
      @media (max-width: $maxWidth4){
        font-size: 14px;
        line-height: 1.8;
      }
    }
    & .btn-green{
      padding:11px 35px 3px 37px;
      font-size: 22px;
      @media (max-width: $maxWidth4){
        padding:7px 20px 3px 20px;
        font-size: 18px;
      }
      @media (max-width: $maxWidth5){
        font-size: 16px;
        padding:7px 16px 3px 16px;
      }
    }
  }
}


.select-language {
  max-width: 185px;
  position: relative;

  & .custom-select{
    position: relative;

    &.open{
      &  .arrow{@include rotate(-180deg);}
    }
  }
  & .custom-select_trigger{
    cursor: pointer;
    position: relative;
    background-color: #262626;
    border-bottom: 1px solid #3d3d3d;
    z-index: 10;
    & .arrow{
      position: absolute;
      width: 30px;
      height: 38px;
      top:0px;
      right: 0px;
      @include anim(0.3s,0s);
      &:before{
        content: "";
        width: 4px;
        height: 1px;
        background-color: $white;
        @include rotate(45deg);
        position: absolute;
        top: 17px;
        right: 16px;
      }
      &:after{
        content: "";
        width: 4px;
        height: 1px;
        background-color: $white;
        @include rotate(-45deg);
        position: absolute;
        top: 17px;
        right: 12px;
      }
    }
  }
  & .custom-options{
    z-index: 8;
    position: absolute;
    width: 100%;
    top:0px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0px 0px 20px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    &.open{
      top:41px;
      background-color:#262626;
      visibility: visible;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
    }
  }
  & span{
    display: block;
    color: $white;
    font-size: 17px;
    line-height: 20px;
    padding: 10px 12px 10px 42px;
    border-bottom: 1px solid #3d3d3d;
  }

}

.footer{
  position: relative;
  background-color: #262626;
  padding: 170px 0px 50px 0px;
  @media (max-width:$maxWidth5) {  padding: 70px 0px 0px 0px;  }

  &:before{
    content: "";
    position: absolute;
    top:133px;
    width: 100%;
    height: 1px;
    background-color: #3d3d3d;
    @media (max-width:$maxWidth5) { top:50px; }
  }

  & .row {
    justify-content: space-between;
    @media (max-width: $maxWidth3){
      flex-wrap:wrap;
    }
  }
  & .column{
     flex:1 0 18%;

    &:nth-child(1){  flex:0 1 25%;  }
    &:nth-child(2){  flex:0 1 25%;  }

    &:nth-child(3){  flex:0 1 16%;  }
    &:nth-child(4){  flex:0 1 18%;  }
    &:nth-child(5){  flex:0 1 16%;  }

    @media (max-width: $maxWidth2) {
      &:nth-child(1){  flex:0 1 20%;  }


      &:nth-child(3){  flex:0 1 12%;  }
      &:nth-child(4){  flex:0 1 11%;  }
      &:nth-child(5){  flex:0 1 26%;  }
    }
    @media (max-width: $maxWidth3) {
      padding:0px 0px 50px 0px;
      &:nth-child(1){  flex:0 1 20%;  }
      &:nth-child(3){  flex:0 1 15%;  }
      &:nth-child(4){  flex:0 1 11%;  }
      &:nth-child(5){  flex:0 1 50%; }
    }
    @media (max-width: $maxWidth4){
      &:nth-child(1){ order:1; flex:0 1 50%; }
      &:nth-child(2){ order:3;flex:0 1 50%;   }
      &:nth-child(3){ order:4;flex:0 1 25%;  }
      &:nth-child(4){ order:5; flex:0 1 25%;  }
      &:nth-child(5){ order:2;  flex:0 1 50%;}
     }
    @media (max-width: $maxWidth5){
      &:nth-child(1){ order:1; flex:0 1 100%; }
      &:nth-child(2){ order:1; flex:0 1 100%; }
      &:nth-child(3){ order:1; flex:0 1 50%;  }
      &:nth-child(4){ order:1; flex:0 1 50%;  }
      &:nth-child(5){ order:1; flex:0 1 100%;}
    }
  }
  & a{
    font-size: 18px;
    color:$white;
    display: block;
    text-decoration: none;
    line-height: 51px;
    @media (max-width: $maxWidth2) { font-size: 16px;}
    @media (max-width: $maxWidth5) { font-size: 14px;line-height: 30px;}
  }
  & p{
    font-size: 19px;
    letter-spacing: -1px;
    padding: 0px 0px 28px 0px;
    @media (max-width: $maxWidth2) { font-size: 16px;padding: 0px 0px 18px 0px;}
    @media (max-width: $maxWidth5) { font-size: 16px;padding: 0px 0px 10px 0px;}
  }
  & .btn-line{
      & a{
        width: 48%;
        display: inline-block;
        @media (max-width: $maxWidth3){
          width: auto;
          margin-left: 5px;
        }
      }
  }
}
.social{
  margin-top: 29px;
  &-icon{
    cursor: pointer;
    display: inline-block !important;
    background-image: url("../img/icon-social.png");
    background-repeat: no-repeat;
    margin-right: 5px;
    height: 38px;
    &.i-facebook{
      width: 25px;
      background-position: 2px 0px;
    }
    &.i-tweeter{
      width: 41px;
      background-position: -30px 0px;
    }
    &.i-instagram {
      width: 31px;
      background-position: -83px 0px;
    }
  }
}

#language-menu{
  & .custom{
    &-select{
      position: relative;
      @include flexbox();
      flex-direction: column;

      & span{
        font-size: 17px;
        line-height: 20px;
        padding: 10px 12px 10px 42px;
        background-color: $greyDark;
        color:$white;
        @media (max-width:$maxWidth5) {  font-size: 15px; line-height: 15px; }
      }
      &-wrapper {
        position: relative;
        user-select: none;
        width: 185px;

      }
      &__trigger {
        position: relative;
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-bottom:1px solid $greyMidl;
        padding-right: 17px;
        &:before{
          z-index: 11;
          content: "";
          width: 24px;
          height: 24px;
          position: absolute;
          top:5px;
          left:4px;
          background-image: url("../img/icon-language.png");
          background-repeat: no-repeat;
        }
      }
      & .arrow {
        position: relative;
        height: 6px;
        width: 10px;

        @each $name in '&:before', '&:after'{
          #{$name} {
            content: "";
            position: absolute;
            left: 2px;
            width: 0.104rem;
            height: 6px;
            transition: all 0.5s;
            background-color: $white;
          }
        }

        &:before {
          @include rotate(-40deg);
        }
        &:after {
          left: 5px;
          @include rotate(40deg);
        }

      }

      &.open{
        & .arrow{
          &:before {
            @include rotate(40deg);
          }
          &:after {
            @include rotate(-40deg);
          }
        }
        & .custom-options {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }

      }

  }

    &-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      border-bottom: 1px solid $greyMidl;
      background: $greyDark;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 2;
    }
    &-option {
      position: relative;
      display: block;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        background-color: $greyDark;
      }
      &.selected {
        background-color: $greyMidl;
        color: $white;
      }
    }
  }
}
@media (min-width: 1921px){
  .decor-image{width: auto !important;}
  .level-5 .decor-image.im4{width: 100% !important;}
}

/*
hover for <a href>
 */