/*
  -webkit-:
  -moz-:
  -ms-:
  -o-:
  :
 */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "FivoSant-Regular";
  src: url("../fonts/FivoSans-Regular.otf") format("opentype"), url("../fonts/FivoSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "FivoSant-Bold";
  src: url("../fonts/FivoSans-Bold.otf") format("opentype"), url("../fonts/FivoSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "FivoSant-Heavy";
  src: url("../fonts/FivoSans-Heavy.otf") format("opentype"), url("../fonts/FivoSans-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "FivoSant-Light";
  src: url("../fonts/FivoSans-Light.otf") format("opentype"), url("../fonts/FivoSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "FivoSant-Oblique";
  src: url("../fonts/FivoSans-Oblique.otf") format("opentype"), url("../fonts/FivoSans-Oblique.otf") format("opentype");
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active, a:visited, a:focus-visible, a:focus-within,
.btn, .btn:hover, .btn:focus, .btn:active, .btn:visited, .btn:focus-visible, .btn:focus-within,
button, button:hover, button:focus, button:active, button:visited, button:focus-visible, button:focus-within {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  font-family: "FivoSant-Light", sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #a2a2a2;
  background-color: #fbfcfc;
}
body.lock {
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 400px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }
}

a {
  font-family: "FivoSant-Oblique", sans-serif;
  color: #3cbef1;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
}
@media (max-width: 400px) {
  a {
    font-size: 16px;
    line-height: 25px;
  }
}
a:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.link-more:before {
  content: "";
  top: 7px;
  right: -13px;
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #3cbef1;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  o-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 0.3s ease 0s;
}
a.link-more:after {
  content: "";
  bottom: 5px;
  right: -13px;
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #3cbef1;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  o-transform: rotate(-35deg);
  transform: rotate(-35deg);
  transition: all 0.3s ease 0s;
}

.link-btn {
  cursor: pointer;
  display: inline-block;
  font-family: "FivoSant-Regular", sans-serif;
  font-size: 18px;
  color: #ff6a6d;
  letter-spacing: 2px;
  line-height: 40px;
  border: 1px solid #ff6a6d;
  padding: 3px 39px 0px 40px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 400px) {
  .link-btn {
    font-size: 16px;
    line-height: 30px;
  }
}
.link-btn.btn-red {
  background-color: #ff6a6d;
  color: #ffffff;
  -webkit-box-shadow: -15px 20px 30px -10px rgba(255, 28, 66, 0.34);
  box-shadow: -15px 20px 30px -10px rgba(255, 28, 66, 0.34);
}
.link-btn.btn-blue {
  background-color: #3cbef1;
  border: 1px solid #3cbef1;
  color: #ffffff;
  -webkit-box-shadow: -15px 20px 30px -10px rgba(119, 221, 249, 0.6);
  box-shadow: -15px 20px 30px -10px rgba(119, 221, 249, 0.6);
}

.btn-close {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.btn-close:before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #323232;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 14px;
  left: 0;
}
.btn-close:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #323232;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
  left: 0;
}

a.logo {
  font-family: "FivoSant-Heavy", sans-serif;
  font-size: 32px;
  color: #ff6a6d;
  text-decoration: none;
  padding: 0px 5px 0px 9px;
  line-height: 40px;
  position: relative;
  z-index: 20;
}

input {
  display: block;
  width: 100%;
  min-width: 300px;
  line-height: 30px;
  padding: 10px 20px;
  font-size: 16px;
  color: #495057;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 40px;
  margin: 0px 0px 40px 0px;
  outline: none;
}
input::placeholder {
  color: #cdcdcd;
}
input:focus {
  border: 1px solid #ff6a6d;
  outline: none;
}

.align-r {
  text-align: right;
}

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

h1 {
  font-family: "FivoSant-Bold", sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #3b3838;
  padding: 0px 0px 38px 0px;
}
@media (max-width: 1430px) {
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (max-width: 690px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

h2 {
  font-family: "FivoSant-Bold", sans-serif;
  font-size: 24px;
  line-height: 60px;
}
@media (max-width: 400px) {
  h2 {
    font-size: 20px;
    line-height: 40px;
  }
}

.title {
  font-family: "FivoSant-Bold", sans-serif;
  font-size: 24px;
  line-height: 60px;
  color: #656565;
}
@media (max-width: 400px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}

.subscribe {
  font-family: "FivoSant-Light", sans-serif;
  font-size: 18px;
  line-height: 40px;
  color: #a2a2a2;
}
@media (max-width: 400px) {
  .subscribe {
    font-size: 16px;
    line-height: 30px;
  }
}

.sign {
  font-family: "FivoSant-Oblique", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #9d9d9d;
  display: inline-block;
  position: relative;
}
@media (max-width: 400px) {
  .sign {
    font-size: 16px;
    line-height: 25px;
  }
}
.sign:after {
  content: "";
  width: 52px;
  height: 1px;
  background: #9d9d9d;
  bottom: 12px;
  position: absolute;
  right: -57px;
}

.image-decor {
  position: absolute;
  height: auto;
}
.image-decor img {
  width: 100%;
}

.section {
  padding: 20px 0px;
  position: relative;
}

.ul-red {
  margin: 20px 60px;
}
.ul-red li {
  font-size: 18px;
  list-style: none;
  position: relative;
  padding: 0px 40px 60px 0px;
}
@media (max-width: 400px) {
  .ul-red li {
    font-size: 16px;
    padding: 0px 10px 20px 0px;
  }
}
.ul-red li:before {
  content: "";
  background-image: url("../img/icon-ceklist.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
  position: absolute;
  top: 14px;
  left: -49px;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  justify-content: flex-start;
}
@media (max-width: 1430px) {
  .row {
    justify-content: space-between;
  }
}

.column-two {
  position: relative;
  flex: 0 0 50%;
}

.column-image {
  position: absolute;
}

.col-4 {
  flex: 0 0 33.333%;
  -ms-flex: 0 0 33.333%;
  max-width: 33.333%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 1430px;
  margin: 0px auto;
}
@media (max-width: 1430px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 860px;
  }
}
@media (max-width: 860px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
  }
}

.menu-list {
  text-align: right;
  margin: 0px;
}
@media (max-width: 850px) {
  .menu-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -120%;
    background: #ffffff;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
    display: block;
    padding: 30px;
  }
}
.menu-list.active {
  top: 0;
}
.menu-list li {
  list-style: none;
  display: inline-block;
}
@media (max-width: 850px) {
  .menu-list li {
    display: block;
    text-align: center;
  }
}
.menu-list a {
  display: block;
  font-family: "FivoSant-Regular", sans-serif;
  font-size: 18px;
  line-height: 45px;
  letter-spacing: 0.7px;
  color: #1c2056;
  opacity: 50%;
  text-decoration: none;
  text-transform: capitalize;
  padding: 4px 45px 3px 18px;
}
@media (max-width: 1100px) {
  .menu-list a {
    padding: 4px 10px 3px 10px;
  }
}
@media (max-width: 900px) {
  .menu-list a {
    padding: 4px 25px 3px 15px;
  }
}
@media (max-width: 400px) {
  .menu-list a {
    font-size: 16px;
  }
}
.menu-list a.active {
  font-family: "FivoSant-Bold", sans-serif;
  color: #ff6a6d;
  opacity: 1;
}
@media (max-width: 850px) {
  .menu-list a {
    display: inline-block;
  }
}

.header {
  position: relative;
  padding: 59px 0px 10px 0px;
  width: 100%;
  z-index: 2;
}
@media (max-width: 1430px) {
  .header {
    padding: 10px 0px 10px 0px;
  }
}
.header .link-btn {
  margin-top: 2px;
  -webkit-box-shadow: 0px 0px 48px 2px rgba(235, 102, 107, 0.3);
  box-shadow: 0px 0px 48px 2px rgba(235, 102, 107, 0.3);
  opacity: 1;
  letter-spacing: 2px;
  line-height: 40px;
  border: 1px solid #ff6a6d;
  padding: 3px 39px 0px 40px;
  margin-left: 72px;
}
@media (max-width: 1430px) {
  .header .link-btn {
    margin-left: 10px;
  }
}
@media (max-width: 1100px) {
  .header .link-btn {
    margin-left: 10px;
  }
}
.header-row {
  justify-content: space-between;
}
.header-column {
  flex: 0 1 15%;
}
.header-column.column-wide {
  flex: 0 1 80%;
}
.header-icon {
  display: none;
}
@media (max-width: 850px) {
  .header-icon {
    display: block;
  }
}
.header-menu_icon {
  display: none;
}
@media (max-width: 850px) {
  .header-menu_icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu_icon span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .header-menu_icon span:first-child {
    top: 0px;
  }
  .header-menu_icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header-menu_icon.active span {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    o-transform: scale(0);
    transform: scale(0);
    background-color: #000000;
  }
  .header-menu_icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu_icon.active span:last-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    o-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
  .header-menu_icon span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .header-menu_icon span:first-child {
    top: 0px;
  }
  .header-menu_icon span:last-child {
    top: auto;
    bottom: 0px;
  }
}

.presentation {
  position: relative;
  padding: 140px 0px 359px 0px;
}
@media (max-width: 1430px) {
  .presentation {
    padding: 80px 0px 280px 0px;
  }
}
@media (max-width: 1200px) {
  .presentation {
    padding: 80px 0px 180px 0px;
  }
}
.presentation .column {
  flex: 0 0 50%;
  -ms-flex: 0 0 55%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1430px) {
  .presentation .column {
    flex: 0 0 55%;
  }
}
@media (max-width: 900px) {
  .presentation .column {
    flex: 0 0 95%;
  }
}
.presentation-text {
  padding: 0px 0px 0px 110px;
}
@media (max-width: 1430px) {
  .presentation-text {
    padding: 0px 0px 0px 50px;
  }
}
.presentation p {
  padding: 0px 99px 59px 0px;
}
@media (max-width: 1430px) {
  .presentation p {
    padding: 0px 10px 59px 0px;
  }
}
@media (max-width: 1100px) {
  .presentation p {
    padding: 0px 10px 40px 0px;
    font-size: 16px;
    line-height: 30px;
  }
}
.presentation-btn .link-btn {
  line-height: 70px;
  font-size: 20px;
  padding: 7px 82px 2px 84px;
  letter-spacing: 0.3px;
  border-radius: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1430px) {
  .presentation-btn .link-btn {
    line-height: 50px;
    font-size: 18px;
    padding: 7px 58px 2px 58px;
  }
}
.presentation-btn .link-btn.btn-red {
  margin-right: 23px;
}
.presentation-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.5%;
  left: 61.8%;
}

.container-title {
  text-align: center;
  margin: 0 auto;
  padding: 18px 0px 80px 41px;
}
@media (max-width: 400px) {
  .container-title {
    padding: 18px 0px 80px 0px;
  }
}
.container-title h1 {
  padding: 0px 0px 26px 0px;
}
.container-title .subscribe {
  padding: 2px 0px 0px 13px;
}

.page {
  background-image: url("../img/fon-header.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  overflow: hidden;
}
@media (min-width: 1950px) {
  .page {
    background-size: 100%;
  }
}
@media (max-width: 1500px) {
  .page {
    background-position: right top;
  }
}
@media (max-width: 1430px) {
  .page {
    background-position: center top;
    background-size: 130%;
  }
}
@media (max-width: 900px) {
  .page {
    background-image: url("../img/bg.svg");
  }
}

.choose {
  margin-bottom: 62px;
}
@media (max-width: 690px) {
  .choose {
    margin-bottom: 20px;
  }
}
.choose-items {
  padding-top: 47px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
@media (max-width: 690px) {
  .choose-items {
    flex-direction: column;
  }
}
.choose-items-item {
  flex: 0 0 30%;
  text-align: left;
}
@media (max-width: 900px) {
  .choose-items-item {
    text-align: center;
  }
}
@media (max-width: 690px) {
  .choose-items-item {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 690px) {
  .choose-items-item:last-child {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
  }
}
.choose-items-item-image {
  margin-bottom: 60px;
}
@media (max-width: 900px) {
  .choose-items-item-image {
    margin-bottom: 40px;
  }
}
@media (max-width: 690px) {
  .choose-items-item-image {
    height: 150px;
    width: auto;
    overflow: hidden;
  }
}
.choose-items-item-image img {
  padding-left: 21%;
}
@media (max-width: 900px) {
  .choose-items-item-image img {
    padding: 0px;
    width: 70%;
  }
}
@media (max-width: 690px) {
  .choose-items-item-image img {
    height: 100%;
    width: auto;
  }
}
.choose-items-item-text h2 {
  text-align: left;
  padding-left: 20%;
  font-family: "FivoSant-Bold", sans-serif;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0;
  color: #3b3838;
  opacity: 1;
}
@media (max-width: 900px) {
  .choose-items-item-text h2 {
    padding: 0px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
  }
}
.choose-items-item-text p {
  text-align: center;
  padding: 5px 103px 0px 56px;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
}
@media (max-width: 1430px) {
  .choose-items-item-text p {
    padding: 5px 4px 0px 4px;
  }
}
@media (max-width: 900px) {
  .choose-items-item-text p {
    font-size: 16px;
    line-height: 24px;
  }
}
.choose-items-item.el3 img {
  padding-left: 14%;
}
@media (max-width: 900px) {
  .choose-items-item.el3 img {
    padding: 0;
  }
}
.choose-items-item.el1 img {
  padding-left: 17%;
}
@media (max-width: 900px) {
  .choose-items-item.el1 img {
    padding: 0;
  }
}

.image-fon {
  position: relative;
}
@media (max-width: 690px) {
  .image-fon {
    text-align: center;
  }
}
.image-fon .base-image {
  width: 100%;
}
@media (max-width: 1430px) {
  .image-fon .base-image {
    width: 120%;
  }
}
@media (max-width: 690px) {
  .image-fon .base-image {
    height: 250px;
    width: auto;
  }
}
.image-fon .image-animate {
  position: absolute;
  width: 10%;
  top: 20%;
  left: 20%;
}
.image-fon .image-animate img {
  width: 100%;
}

.image-animate.el1 img {
  animation-delay: 1s;
  transition: all 1s ease 3s;
  animation: spin 9s ease-in-out 2s infinite alternate;
}

.image-animate.el2 img {
  animation-delay: 1s;
  transition: all 1s ease 3s;
  animation: spin2 20s ease-in-out 1s infinite normal;
}

.image-animate.el3 img {
  animation-delay: 1s;
  transition: all 1s ease 3s;
  animation: spin3 10s ease-in-out 1s infinite normal;
}

.image-animate.el4 img {
  animation-delay: 1s;
  transition: all 1s ease 3s;
  animation: spin4 10s ease-in-out 1s infinite normal;
}

@keyframes spin {
  0% {
    transform: translate(0px, 0px) rotate(0);
    opacity: 1;
  }
  50% {
    transform: translate(75px, -50px) rotate(360deg);
    opacity: 0.7;
  }
  100% {
    transform: translate(55px, 0px) rotate(0deg);
    opacity: 0.9;
  }
}
@keyframes spin2 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(-10px, -40px) scale(0.8);
    opacity: 0.7;
  }
  40% {
    transform: translate(-60px, -60px) scale(0.5) rotate(360deg);
  }
  60% {
    transform: translate(-100px, 15px) scale(0.8);
    opacity: 0.3;
  }
  80% {
    transform: translate(-10px, 25px) scale(0.4);
    opacity: 0.7;
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes spin3 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-100px, 85px) scale(0.8) rotate(270deg);
  }
  75% {
    transform: translate(-60px, -85px) scale(0.8) rotate(-270deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}
@keyframes spin4 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(100px, 85px) scale(0.8) rotate(270deg);
  }
  75% {
    transform: translate(60px, -85px) scale(0.8) rotate(-270deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}
.whatson {
  padding: 169px 0px 235px 0px;
  text-align: left;
}
@media (max-width: 1430px) {
  .whatson {
    padding-bottom: 180px;
  }
}
@media (max-width: 690px) {
  .whatson {
    padding: 100px 0px 100px 0px;
  }
}
@media (max-width: 400px) {
  .whatson {
    padding: 50px 0px 50px 0px;
  }
}
.whatson-row {
  justify-content: flex-start;
}
@media (max-width: 690px) {
  .whatson-row {
    flex-direction: column-reverse;
  }
}
.whatson-text {
  width: 80%;
  margin-left: 13px;
}
@media (max-width: 1430px) {
  .whatson-text {
    width: 100%;
  }
}
.whatson-image {
  width: 98%;
  top: 0;
  left: 0;
}
.whatson .container-title {
  text-align: left;
  margin: 0;
  padding: 25px 0px 44px 17px;
}
@media (max-width: 1430px) {
  .whatson .container-title {
    padding: 25px 0px 44px 17px;
  }
}
@media (max-width: 400px) {
  .whatson .container-title {
    padding: 10px 0px 40px 0px;
  }
}
.whatson .title {
  line-height: 52px;
}
@media (max-width: 400px) {
  .whatson .title {
    line-height: 32px;
  }
}
.whatson .ul-red {
  margin: 20px 0px 20px 90px;
}
@media (max-width: 400px) {
  .whatson .ul-red {
    margin: 20px 0px 20px 50px;
  }
}
.whatson .ul-red li {
  padding: 0px 10px 28px 0px;
}
.whatson .image-animate.el1 {
  width: 10%;
  top: 18%;
  left: 27%;
}
.whatson .image-animate.el2 {
  width: 10%;
  top: 18%;
  left: 40%;
}
.whatson .image-animate .el3 {
  width: 10%;
  top: 48%;
  left: 20%;
}
.whatson .image-decor.im1 {
  width: 9%;
  left: 0;
  top: 36%;
}
@media (max-width: 1430px) {
  .whatson .image-decor.im1 {
    top: 30%;
  }
}
.whatson .image-decor.im2 {
  width: 7%;
  right: 0;
  top: 4%;
  text-align: right;
}
@media (max-width: 1430px) {
  .whatson .base-image {
    margin: 50px 0px 0px -76px;
  }
}
@media (max-width: 690px) {
  .whatson .base-image {
    margin: 0px 0px 0px 0px;
  }
}

.lessons {
  padding-bottom: 217px;
}
@media (max-width: 400px) {
  .lessons {
    padding-bottom: 60px;
  }
}
.lessons .sign {
  padding-left: 5px;
}
.lessons-row {
  justify-content: space-between;
}
@media (max-width: 690px) {
  .lessons-row {
    flex-direction: column;
  }
}
.lessons .column-image {
  width: 93%;
  right: 20px;
}
@media (max-width: 690px) {
  .lessons .column-image {
    height: 250px;
    width: auto;
  }
}
.lessons-text {
  margin: 118px 65px 0px 65px;
}
@media (max-width: 1430px) {
  .lessons-text {
    margin: 50px 10px 0px 65px;
  }
}
@media (max-width: 400px) {
  .lessons-text {
    margin: 50px 10px 0px 0px;
  }
}
.lessons p {
  padding: 12px 10px 47px 58px;
  width: 80%;
}
@media (max-width: 1430px) {
  .lessons p {
    padding: 12px 10px 25px 30px;
    width: 100%;
  }
}
.lessons a {
  margin-left: -1px;
}
.lessons .image-fon {
  margin: 1px 17px 0px 33px;
}
@media (max-width: 900px) {
  .lessons .image-fon {
    margin: 1px 17px 0px 0px;
  }
}
.lessons .image-animate.el4 {
  width: 10%;
  top: 45%;
  left: 0;
}
.lessons .image-animate.el2 {
  top: 28%;
  left: 17%;
  width: 8%;
}
.lessons .image-decor {
  width: 11%;
  left: 0;
  bottom: -12%;
}

.information {
  padding-bottom: 164px;
}
@media (max-width: 690px) {
  .information .row {
    flex-direction: column-reverse;
  }
}
.information-column-image {
  flex: 0 0 44%;
}
.information-column-image .base-image {
  position: relative;
  left: -66px;
  top: 42px;
  width: 100%;
}
@media (max-width: 1430px) {
  .information-column-image .base-image {
    left: -68px;
    width: 120%;
  }
}
@media (max-width: 690px) {
  .information-column-image .base-image {
    margin-top: 20px;
    top: 0;
    left: 0;
    width: auto;
    height: 300px;
  }
}
@media (max-width: 1430px) {
  .information-column {
    flex: 0 0 50%;
  }
}
.information h1 {
  line-height: 65px;
  padding: 0px 0px 90px 7px;
}
@media (max-width: 1430px) {
  .information h1 {
    padding: 0px 0px 60px 7px;
  }
}
@media (max-width: 690px) {
  .information h1 {
    line-height: 45px;
  }
}
.information p {
  text-indent: 48px;
  padding: 0px 28px 0px 126px;
}
@media (max-width: 1430px) {
  .information p {
    padding: 0px 28px 0px 70px;
  }
}
@media (max-width: 400px) {
  .information p {
    padding: 0px 28px 0px 30px;
  }
}
.information p.p-link {
  text-indent: 0px;
  padding: 75px 28px 0px 122px;
}
@media (max-width: 1430px) {
  .information p.p-link {
    padding: 35px 28px 0px 70px;
  }
}
.information .image-animate {
  margin: 0px 0px 0px 0px;
}
.information .image-animate.el2 {
  width: 6%;
  top: 8%;
  left: 38%;
}
.information .image-animate.el3 {
  top: 94%;
  left: 23%;
  width: 6%;
}
.information .image-decor {
  width: 10%;
  right: 0px;
  top: -32%;
  text-align: right;
}
@media (max-width: 1430px) {
  .information .image-decor {
    top: -14%;
  }
}
@media (max-width: 1430px) {
  .information .image-decor {
    right: -3.1%;
  }
}

.section.bottom {
  padding: 20px 0px 0px 0px;
  background-image: url("../img/fon-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.pricing {
  padding: 15px 0px 103px 0px;
}
@media (max-width: 690px) {
  .pricing {
    margin: -10px 0px 10px 0px;
    padding: 15px 0px 50px 0px;
  }
}
.pricing ul {
  text-align: left;
  padding: 10px 26px 47px 14px;
}
@media (max-width: 1430px) {
  .pricing ul {
    padding: 10px 26px 10px 14px;
  }
}
.pricing ul.list-red li:before {
  background-image: url("../img/icon-list-red.png");
  background-repeat: no-repeat;
}
.pricing ul.list-blue li:before {
  background-image: url("../img/icon-list-blue.png");
  background-repeat: no-repeat;
}
.pricing ul li {
  list-style: none;
  position: relative;
  font-size: 18px;
  font-family: "FivoSant-Regular", sans-serif;
  line-height: 30px;
  padding: 10px 0px 26px 71px;
}
@media (max-width: 1430px) {
  .pricing ul li {
    padding: 10px 0px 26px 55px;
  }
}
.pricing ul li:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.pricing-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}
@media (max-width: 690px) {
  .pricing-row {
    flex-direction: column;
    align-items: center;
  }
}
.pricing .link-btn {
  line-height: 60px;
  border-radius: 41px;
  border-style: none;
  padding: 8px 35px 2px 31px;
  letter-spacing: 0;
  font-size: 18px;
  margin-bottom: 16px;
}
@media (max-width: 690px) {
  .pricing .link-btn {
    line-height: 1;
    padding: 18px 15px 12px 15px;
  }
}
.pricing .link-btn.btn-blue {
  background: #5fcef5;
  /* Old browsers */
  background: -moz-linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(66deg, #5fcef5 0%, #83e4fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#5fcef5", endColorstr="#83e4fc",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.pricing-item {
  text-align: center;
  padding: 0px;
  border-radius: 20px;
  -webkit-box-shadow: -8px 20px 23px -1px rgba(206, 68, 68, 0.3);
  box-shadow: -8px 20px 23px -1px rgba(206, 68, 68, 0.3);
  flex: 0 0 32.9%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  top: 43px;
  left: 4px;
}
@media (max-width: 690px) {
  .pricing-item {
    margin-bottom: 150px;
    top: 0px;
    left: 0px;
  }
}
@media (max-width: 690px) {
  .pricing-item:last-child {
    margin-bottom: 0px;
    top: 0px;
    left: 0px;
  }
}
.pricing-item .title {
  font-size: 30px;
  font-family: "FivoSant-Bold", sans-serif;
  line-height: 30px;
  color: #787878;
  padding: 74px 14px 0px 0px;
  margin-bottom: -15px;
}
@media (max-width: 1430px) {
  .pricing-item .title {
    padding: 45px 14px 0px 0px;
    font-size: 26px;
  }
}
.pricing-item:nth-child(1) {
  background: -webkit-linear-gradient(90deg, white 68%, #ffedee);
  background: -moz-linear-gradient(90deg, white 68%, #ffedee);
  background: linear-gradient(90deg, white 68%, #ffedee);
}
@media (max-width: 690px) {
  .pricing-item:nth-child(1) {
    background: #ffffff;
  }
}
.pricing-item.price-best {
  flex: 0 0 35%;
  z-index: 2;
  top: 0px;
  left: 0px;
}
.pricing-item.price-best .title {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ff6a6d;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 41px 0px 33px 0px;
  letter-spacing: 1px;
  margin: 0px 0px -21px 0px;
}
@media (max-width: 1430px) {
  .pricing-item.price-best .title {
    padding: 33px 0px 22px 0px;
  }
}
.pricing-item.price-best .pricing-item-block {
  padding: 56px 40px 40px 56px;
}
@media (max-width: 1430px) {
  .pricing-item.price-best .pricing-item-block {
    padding: 50px 10px 40px 10px;
  }
}
@media (max-width: 690px) {
  .pricing-item.price-best .pricing-item-block {
    padding: 50px 50px 40px 50px;
  }
}
@media (max-width: 400px) {
  .pricing-item.price-best .pricing-item-block {
    padding: 46px 10px 40px 10px;
  }
}
.pricing-item.price-best .pricing-item-price {
  margin: 7px 0px 0px -2px;
}
.pricing-item.title-block {
  left: -2px;
  background: -webkit-linear-gradient(-90deg, white 80%, #fff7f8);
  background: -moz-linear-gradient(-90deg, white 80%, #fff7f8);
  background: linear-gradient(-90deg, white 80%, #fff7f8);
}
@media (max-width: 690px) {
  .pricing-item.title-block {
    background: #ffffff;
  }
}
.pricing-item.title-block ul {
  padding: 10px 26px 23px 14px;
}
.pricing-item-block {
  padding: 56px 40px 40px 42px;
}
@media (max-width: 1430px) {
  .pricing-item-block {
    padding: 46px 10px 40px 10px;
  }
}
@media (max-width: 690px) {
  .pricing-item-block {
    padding: 46px 50px 40px 50px;
  }
}
@media (max-width: 400px) {
  .pricing-item-block {
    padding: 46px 10px 40px 10px;
  }
}
.pricing-item-price {
  margin: 7px 0px 0px 11px;
}
.pricing-item-price span {
  line-height: 1;
  position: relative;
}
.pricing-item-price .currency {
  font-size: 40px;
  top: -88px;
  left: -11px;
}
@media (max-width: 1430px) {
  .pricing-item-price .currency {
    top: -50px;
    left: -1px;
    font-size: 35px;
  }
}
.pricing-item-price .value {
  font-size: 150px;
}
@media (max-width: 1430px) {
  .pricing-item-price .value {
    font-size: 90px;
  }
}
.pricing-item-price .period {
  font-size: 30px;
}
@media (max-width: 1430px) {
  .pricing-item-price .period {
    font-size: 25px;
  }
}
.pricing-item .description {
  font-family: "FivoSant-Oblique", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 6px 10px 55px 2px;
}
@media (max-width: 1430px) {
  .pricing-item .description {
    font-size: 16px;
    padding: 16px 10px 35px 2px;
  }
}

.footer {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 0px 12px;
}
@media (max-width: 1430px) {
  .footer {
    padding: 0px;
  }
}
.footer .container {
  background-color: rgba(179, 243, 255, 0.5);
  border-radius: 170px 170px 0px 0px;
  padding: 50px 0px 100px 0px;
  max-width: 1426px;
}
@media (max-width: 1430px) {
  .footer .container {
    max-width: 100%;
  }
}
@media (max-width: 690px) {
  .footer .container {
    border-radius: 100px 100px 0px 0px;
  }
}
@media (max-width: 400px) {
  .footer .container {
    border-radius: 70px 70px 0px 0px;
  }
}
.footer .row {
  max-width: 1123px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 22px;
  flex-wrap: wrap;
}
@media (max-width: 1430px) {
  .footer .row {
    max-width: 80%;
    justify-content: flex-end;
  }
}
@media (max-width: 750px) {
  .footer .row {
    max-width: 100%;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .footer .row {
    max-width: 70%;
    justify-content: flex-end;
    flex-direction: column;
  }
}
.footer-column {
  flex: 0 0 25%;
}
@media (max-width: 1430px) {
  .footer-column {
    flex: 0 0 45%;
  }
}
.footer .text {
  font-size: 16px;
  font-family: "FivoSant-Regular", sans-serif;
  display: block;
  text-decoration: none;
  color: #60797f;
  line-height: 25px;
}
.footer a {
  font-size: 16px;
  font-family: "FivoSant-Regular", sans-serif;
  display: block;
  text-decoration: none;
  color: #60797f;
  line-height: 25px;
}
.footer .title {
  color: #60797f;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "FivoSant-Bold", sans-serif;
  padding: 50px 0px 21px 0px;
}
@media (max-width: 1430px) {
  .footer .title {
    line-height: 30px;
  }
}
.footer .text p {
  padding: 4px 37px 31px 0px;
  margin-bottom: -5px;
  line-height: 30px;
}
.footer a {
  padding: 6px 0px 0px 0px;
  line-height: 30px;
}
.footer .block-a a {
  line-height: 25px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 22;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  min-height: 200px;
}
.modal.active {
  display: flex;
}
.modal .title {
  margin: 10px 0px 25px 0px;
}
.modal-login {
  position: relative;
  background: #ffffff;
  padding: 25px 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 37px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 37px 30px rgba(0, 0, 0, 0.3);
}
.modal-login-close {
  position: absolute;
  right: 14px;
  top: 14px;
}

/*# sourceMappingURL=style.css.map */
