$fontfamilyPt:"PT Sant";
$fontfamilyBabe:'Bebas Neue';
$fontfamilyCA:'Conv_Akz';
$minwidth:320px;
$mw:870px;
$mwd:880px;
$md0:800px;

$md3:320px;
$media1:700px;


$md1:790px;


$maxwidth:900px;
$mediawidth0:860px;
$mediawidth1:820px;
$mediawidth2:700px;
$mediawidth3:570px;
$mediawidth4:460px;
$mediawidth5:400px;

