/*
  -webkit-:
  -moz-:
  -ms-:
  -o-:
  :
 */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  background-color: #FAFAFA;
}

a, a:hover, a:focus, a:active, a:visited, a:focus-visible, a:focus-within,
.btn, .btn:hover, .btn:focus, .btn:active, .btn:visited, .btn:focus-visible, .btn:focus-within,
button, button:hover, button:focus, button:active, button:visited, button:focus-visible, button:focus-within {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  display: inline-block;
  background: #FAFAFA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #777777;
  padding: 8px 89px 4px 82px;
}
.btn:hover {
  background-color: #777777;
  color: #ffffff;
  border: 1px solid #E5E5E5;
}

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.option {
  display: block;
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 40px;
}
@media (max-width: 769px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
  }
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
}
.row-column {
  justify-content: space-between;
}
@media (max-width: 480px) {
  .row-column {
    flex-direction: column;
  }
}

.column {
  flex: 0 0 51.8%;
  max-width: 51.8%;
  position: relative;
}
.column:last-child {
  flex: 0 0 48.2%;
  max-width: 48.2%;
}
@media (max-width: 480px) {
  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .column:last-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.title {
  text-align: left;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  padding: 20px 54px 30px 0px;
}
.title-place-column {
  padding: 20px 80px 27px 0px;
}

.places {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0px 2px 0px;
}
.places .place-item {
  flex: 0 0 29.133%;
  max-width: 29.133%;
}
@media (max-width: 481px) {
  .places .place-item {
    flex: 0 0 47%;
    max-width: 47%;
  }
}
.places .place-title {
  margin-bottom: 9px;
  position: relative;
  max-width: 94%;
  display: inline-block;
}
.places .place-title a {
  font-size: 17px;
  line-height: 20px;
  color: #299AE0;
  position: relative;
  padding: 1px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: revert;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
}
@media (max-width: 760px) {
  .places .place-title a {
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
  }
}
.places .place-address {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 17px;
  color: #808080;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  max-height: 37px;
}
.places-load {
  width: 100%;
  text-align: center;
  margin: -56px 0px 0px 0px;
  padding: 57px 0px 0px 0px;
  position: relative;
  z-index: 2;
  background: #fafafa;
  background: -moz-linear-gradient(top, rgba(250, 250, 250, 0.44) 4%, #fafafa 33%, #fafafa 100%);
  background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0.44) 4%, #fafafa 33%, #fafafa 100%);
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0.44) 4%, #fafafa 33%, #fafafa 100%);
}
.places-load.hide {
  visibility: hidden;
}

.place-one {
  padding: 50px 0px 25px 0px;
}

.place-three {
  padding: 29px 0px 28px 0px;
}

/*
Sliders
 */
.slider {
  position: relative;
}
.slider .title {
  padding: 0;
}
.slider .title a {
  font-size: 17px;
  line-height: 20px;
  color: #299AE0;
  position: relative;
  padding: 1px 0px;
  overflow: hidden;
  text-decoration: revert;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 40px;
}
.slider .address {
  font-size: 15px;
  line-height: 17px;
  color: #808080;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  max-height: 40px;
}
.slider .slick-arrow {
  position: absolute;
  top: -58px;
  z-index: 10;
  font-size: 0;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background: none;
  right: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.slider .slick-arrow:before {
  content: "";
  position: absolute;
  width: 10.93px;
  height: 0px;
  border: 1px solid #BBBBBB;
  bottom: 11.5px;
  left: 8px;
}
.slider .slick-arrow:after {
  content: "";
  position: absolute;
  width: 10.93px;
  height: 0px;
  border: 1px solid #BBBBBB;
  top: 9.5px;
  left: 7px;
}
.slider .slick-arrow:hover {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  border: 1px solid #299AE0;
}
.slider .slick-arrow:hover:after {
  border: 1px solid #299AE0;
}
.slider .slick-arrow:hover:before {
  border: 1px solid #299AE0;
}
.slider .slick-arrow.slick-next {
  right: 0px;
}
.slider .slick-arrow.slick-next:focus {
  outline: none;
}
.slider .slick-arrow.slick-next:before {
  transform: matrix(-0.71, 0.65, -0.77, -0.71, 0, 0);
}
.slider .slick-arrow.slick-next:after {
  transform: matrix(-0.71, -0.65, 0.77, -0.71, 0, 0);
}
.slider .slick-arrow.slick-prev {
  right: 39px;
}
.slider .slick-arrow.slick-prev:focus {
  outline: none;
}
.slider .slick-arrow.slick-prev:before {
  transform: matrix(-0.71, -0.65, 0.77, -0.71, 0, 0);
}
.slider .slick-arrow.slick-prev:after {
  top: 11px;
  left: 9px;
  transform: matrix(-0.71, 0.65, -0.77, -0.71, 0, 0);
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots li.slick-active button {
  background-color: #64c29e;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.slider .slick-list {
  margin: 0px;
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

/*
Slider Two
 */
.slider-two {
  position: relative;
  margin-bottom: 3px;
  padding-right: 50px;
}
.slider-two_item {
  text-align: left;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
}
.slider-two_item-body {
  width: 90%;
  height: 88px;
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .slider-two_item-body {
    width: 98%;
  }
}
.slider-two_item-body .title {
  margin-bottom: 9px;
  max-width: 94%;
}
.slider-two_item-body .address {
  max-height: 37px;
}

/*
Slider Three
 */
.slider-three {
  position: relative;
  margin-bottom: 25px;
  margin-right: 0px;
}
.slider-three_item {
  text-align: left;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
  margin-right: 0px;
  padding-right: 30px;
}
.slider-three_item-body {
  width: 100%;
  height: 95px;
}
.slider-three_item-body .title {
  padding: 0px 0px 11px 0px;
}
.slider-three_item-body .title a {
  max-width: 200px;
}
@media (max-width: 769px) {
  .slider-three_item-body .title a {
    max-width: 98%;
  }
}
.slider-three_item-body .address {
  max-height: 37px;
  margin-bottom: 28px;
  max-width: 200px;
}
@media (max-width: 769px) {
  .slider-three_item-body .address {
    max-width: 98%;
  }
}
.slider-three .slick-arrow {
  position: absolute;
  top: -54px;
}
.slider-three .slick-arrow.slick-prev {
  right: 82px;
}
@media (max-width: 481px) {
  .slider-three .slick-arrow.slick-prev {
    right: 38px;
  }
}
.slider-three .slick-arrow.slick-next {
  right: 43px;
}
@media (max-width: 481px) {
  .slider-three .slick-arrow.slick-next {
    right: 0px;
  }
}

/*
Slider Four
 */
.slider-four {
  position: relative;
  margin-bottom: 25px;
}
.slider-four_item {
  text-align: left;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
}
.slider-four .slick-arrow {
  position: absolute;
  top: -54px;
}
.slider-four .slick-arrow.slick-prev {
  right: 38px;
}
.slider-four .slick-arrow.slick-next {
  right: 0px;
}
.slider-four_item-body {
  height: 95px;
}
.slider-four_item-body .title {
  padding: 0px 0px 11px 0px;
}
.slider-four_item-body .title a {
  max-width: 200px;
}
@media (max-width: 769px) {
  .slider-four_item-body .title a {
    max-width: 98%;
  }
}
.slider-four_item-body .address {
  max-height: 37px;
  max-width: 200px;
  margin-bottom: 28px;
}
@media (max-width: 769px) {
  .slider-four_item-body .address {
    max-width: 98%;
  }
}

/*# sourceMappingURL=rbk.css.map */
