$font_PlayfairDisplay: 'Playfair Display', serif;
$font_Roboto: 'Roboto', sans-serif;
@import "mixins.scss";


$mediaWidth1:720px;
$mediaWidth2:650px;
$mediaWidth3:550px;
$mediaWidth4:450px;
$mediaWidth5:390px;
$mediaWidth6:290px;

.comment-container-slider_user{
  max-width: 390px;
  margin:0 auto;
  padding: 0px 30px;
  outline: none;
  @media (max-width: $mediaWidth4){
    max-width: 280px;
  }
  @media (max-width: $mediaWidth6){
    max-width: 270px;
  }
}
.comment-container-slider_comment{
  max-width: 720px;
  margin: 0 auto;

}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  @include flexbox();
  align-items: flex-start;
}

///=============Конкретный слайдер============

.slick-current{
  outline: none;
  border-style:none ;
}
.slider_show {
  position: relative;
  z-index: 2;
}
.slider_show .img_simbol{
  position: relative;
  z-index: 2;
}
.slider_user{
  position: relative;

  &_item{
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    @include flexbox();
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    &:focus {
      outline: none;
      border: none;
    }
    &_img{
      transition: all 0.3s ease 0s;
      border-radius: 50%;
      overflow: hidden;
      width: 64%;
      height: 64%;
      @media (max-width: $mediaWidth4){

      }
      img{
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
    &.slick-center.slick-active {
      .slider_user_item_img{
        width: 100%;
        height: 100%;
      }
    }
  }

  & .slick-arrow{
    position: absolute;
    top:50%;
    z-index: 10;
    font-size: 0;
    &.slick-prev{
      border: none;
      background: none;
      left:-30px;
      top:30%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      @media (max-width: $mediaWidth4){

      }
      &:focus{
        outline: none;
      }
      &:before{
        content: "";
        top: 8px;
        left: 0px;
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #8a8694;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after{
        content: "";
        bottom: 8px;
        left: 0px;
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #8a8694;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    &.slick-next{
      border: none;
      background: none;
      right:-30px;
      top:30%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      @media (max-width: $mediaWidth4){

      }
      &:after{
        content: "";
        bottom: 8px;
        right: 0px;
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #8a8694;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        o-transform: rotate(-45deg);
        transform: rotate(-45deg);

      }
      &:before{
        content: "";
        top: 8px;
        right:0px;
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #8a8694;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        o-transform: rotate(45deg);
        transform: rotate(45deg);

      }
      &:focus{
        outline: none;
      }
    }
  }

  & .slick-dots{
    @include flexbox();
    align-items: center;
    justify-content: center;
    li{
      list-style:none;

      &.slick-active button{
        background-color: #64c29e;
      }
    }
    & button{
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      border-radius: 50%;

    }
  }

  & .slick-list{
    overflow: hidden;
    position: relative;
    z-index: 10;
  }

}
.slider_comment{
  padding: 40px 10px;

  &_text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
  }
  &_name{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-family: $font_Roboto;
    font-weight: 900;
    text-transform: uppercase;
    padding: 36px 0px 0px 0px;


  }
  &_position{
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-family: $font_Roboto;
    font-weight: 300;
    text-transform: uppercase;
  }

}
